{% extends "base.html" %}
{% block page_title %}Upload Video{% endblock %}
{% block content %}
    <h2>Upload New Video</h2>
    <form method="POST" action="{{ url_for('upload_video') }}" enctype="multipart/form-data" class="form-styled">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.title.label }}<br>
            {{ form.title(class="form-control") }}<br>
            {% for error in form.title.errors %}
            <span class="error-message">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.description.label }}<br>
            {{ form.description(class="form-control") }}<br>
            {% for error in form.description.errors %}
            <span class="error-message">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.video_file.label }}<br>
            {{ form.video_file(class="form-control-file") }}<br>
            {% for error in form.video_file.errors %}
            <span class="error-message">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group"> {# Added for course field #}
            {{ form.course.label }}<br>
            {{ form.course(class="form-control") }}<br>
            {% if form.course.errors %}
                {% for error in form.course.errors %}<span class="error-message">[{{ error }}]</span>{% endfor %}
            {% endif %}
        </div>
        <div>
            {{ form.submit(class="btn") }}
        </div>
    </form>
{% endblock %}
